# Django bo'yicha umumiy fayllar va papkalar
*.pyc
__pycache__/
db.sqlite3
*.sqlite3

# Django-dagi migrations
**/migrations/

# Secret keys va local settings'lar uchun fayllar
.env
.env.*

# Statik fayllar

# Python venv (virtual environment)
venv/
env/
.venv/
.python-version

# Node.js fayllar
node_modules/
npm-debug.log

# IDE va tahrirlagich sozlamalari
.vscode/
.idea/
*.swp
.DS_Store

# Git tomonidan yaratilgan fayllar
*.log
*.bak
*.orig
*.rej
*~
