{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <title>Escort Riyadh, UAE </title>
      <link href="" rel="shortcut icon" type=""/>
      <link href="https://d257pz9kz95xf4.cloudfront.net/assets/touch-icons/apple-touch-icon-f00c74e77fa4520c164b6beaa7a264c4022d0613c6180eb6e10743a192c60e9c.png" rel="apple-touch-icon"/>
      <link href="https://d257pz9kz95xf4.cloudfront.net/assets/touch-icons/apple-touch-icon-precomposed-f00c74e77fa4520c164b6beaa7a264c4022d0613c6180eb6e10743a192c60e9c.png" rel="apple-touch-icon"/>
      <link href="https://d257pz9kz95xf4.cloudfront.net/assets/touch-icons/apple-touch-icon-57x57-f00c74e77fa4520c164b6beaa7a264c4022d0613c6180eb6e10743a192c60e9c.png" rel="apple-touch-icon" sizes="57x57"/>
      <link href="https://d257pz9kz95xf4.cloudfront.net/assets/touch-icons/apple-touch-icon-114x114-d8bdebe8e9fea1efb4095d155d4e4fe362ac0b90a572b8f0a46dccc394101d5e.png" rel="apple-touch-icon" sizes="114x114"/>
      <link href="https://d257pz9kz95xf4.cloudfront.net/assets/touch-icons/apple-touch-icon-72x72-c2ce095385b14b271481092ba2195fbdedc350725c8d0080e9d2ad4e18386844.png" rel="apple-touch-icon" sizes="72x72"/>
      <link href="https://d257pz9kz95xf4.cloudfront.net/assets/touch-icons/apple-touch-icon-144x144-1aa8a899497f2cfec8d292583c650167844ddc623aa3082b4368b1b1c5cb20e1.png" rel="apple-touch-icon" sizes="144x144"/>
      <link href="https://d257pz9kz95xf4.cloudfront.net/assets/touch-icons/apple-touch-icon-60x60-6e471c6ab4f8d7c687e1a2cf8de1fcd7bee59eeb68a946c180027e30e55da53b.png" rel="apple-touch-icon" sizes="60x60"/>
      <link href="https://d257pz9kz95xf4.cloudfront.net/assets/touch-icons/apple-touch-icon-120x120-ef08bc47c40cabcb95a14dfc54fee72ac73276c35772c70161a525c9aa4243af.png" rel="apple-touch-icon" sizes="120x120"/>
      <link href="https://d257pz9kz95xf4.cloudfront.net/assets/touch-icons/apple-touch-icon-180x180-ae452f6f618f5575c2c8edc6e0bcf67d9469ff491e608abf1386e0809ee3e1c5.png" rel="apple-touch-icon" sizes="120x120"/>
      <link href="https://d257pz9kz95xf4.cloudfront.net/assets/touch-icons/apple-touch-icon-76x76-a757f5a1ed95955cfd3a057705998d5ec084f34c1a07f8f353f3facecc8dfd01.png" rel="apple-touch-icon" sizes="76x76"/>
      <link href="https://d257pz9kz95xf4.cloudfront.net/assets/touch-icons/apple-touch-icon-152x152-0c9d73af55c84c88a1c6b5c9d850aad18112dd8d8b07e46156d109983dc3a9d4.png" rel="apple-touch-icon" sizes="152x152"/>
<!-- Подключение Font Awesome через CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link
      href="images/apple-touch-icon-f00c74e77fa4520c164b6beaa7a264c4022d0613c6180eb6e10743a192c60e9c.png"
      rel="apple-touch-icon"
    />
    <link
      href="images/apple-touch-icon-precomposed-f00c74e77fa4520c164b6beaa7a264c4022d0613c6180eb6e10743a192c60e9c.png"
      rel="apple-touch-icon"
    />
    <link
      href="images/apple-touch-icon-57x57-f00c74e77fa4520c164b6beaa7a264c4022d0613c6180eb6e10743a192c60e9c.png"
      rel="apple-touch-icon"
      sizes="57x57"
    />
    <link
      href="images/apple-touch-icon-114x114-d8bdebe8e9fea1efb4095d155d4e4fe362ac0b90a572b8f0a46dccc394101d5e.png"
      rel="apple-touch-icon"
      sizes="114x114"
    />
    <link
      href="images/apple-touch-icon-72x72-c2ce095385b14b271481092ba2195fbdedc350725c8d0080e9d2ad4e18386844.png"
      rel="apple-touch-icon"
      sizes="72x72"
    />
    <link
      href="images/apple-touch-icon-144x144-1aa8a899497f2cfec8d292583c650167844ddc623aa3082b4368b1b1c5cb20e1.png"
      rel="apple-touch-icon"
      sizes="144x144"
    />
    <link
      href="images/apple-touch-icon-60x60-6e471c6ab4f8d7c687e1a2cf8de1fcd7bee59eeb68a946c180027e30e55da53b.png"
      rel="apple-touch-icon"
      sizes="60x60"
    />
    <link
      href="images/apple-touch-icon-120x120-ef08bc47c40cabcb95a14dfc54fee72ac73276c35772c70161a525c9aa4243af.png"
      rel="apple-touch-icon"
      sizes="120x120"
    />
    <link
      href="images/apple-touch-icon-180x180-ae452f6f618f5575c2c8edc6e0bcf67d9469ff491e608abf1386e0809ee3e1c5.png"
      rel="apple-touch-icon"
      sizes="120x120"
    />
    <link
      href="images/apple-touch-icon-76x76-a757f5a1ed95955cfd3a057705998d5ec084f34c1a07f8f353f3facecc8dfd01.png"
      rel="apple-touch-icon"
      sizes="76x76"
    />
    <link
      href="images/apple-touch-icon-152x152-0c9d73af55c84c88a1c6b5c9d850aad18112dd8d8b07e46156d109983dc3a9d4.png"
      rel="apple-touch-icon"
      sizes="152x152"
    />


    <link
      rel="stylesheet"
      href="css/application-e5aa5306f57893c0ae54df98533a2c3df315b46f19169f98d7f9be96ae07b91c.css"
      media="only x"
    />
    <noscript>
      <link
        rel="stylesheet"
        media="screen"
        href="https://d257pz9kz95xf4.cloudfront.net/assets/application-e5aa5306f57893c0ae54df98533a2c3df315b46f19169f98d7f9be96ae07b91c.css"
    /></noscript>
    <link
      rel="stylesheet"
      media="print"
      href="css/print-4594246b252f28c9d42c68f0a98c568a88d93d25b4591053daebe4944c3a660a.css"
      data-turbolinks-track="reload"
    />
   
    <link
      href="https://massagerepublic.com/x_female-escorts-in-dubai"
      rel="canonical"
    />
    
    <!-- Lightbox CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css"
      rel="stylesheet"
    />
<link rel="stylesheet" href="{%static 'css/base.css'%}">
   
  </head>
  <body data-action="index" data-turbolinks="false">
    <header id="header">
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <div
              class="header-nav-buttons--separated position-absolute d-flex align-items-center gap-2 gap-sm-3"
            >
            
              <div id="google_translate_element" style="display: block;"></div>


            </div>
            <a href="{%url 'escorts:escort_list_view'%}" class="logo1"> 
              <img src="{%static 'images/logo.svg'%}" alt="">
            </a>
          </div>
          <div class="btn-group-container">
            <div class="btn-group" id="main-nav">
              <a class="btn btn-dark lead selected" href="{%url 'escorts:escort_list_view'%}">Escorts</a>
              <a class="btn btn-dark lead" href="{%url 'escorts:news'%}">What's new</a>
            </div>
          </div>
          <br>
          <form method="GET" action="{% url 'escorts:escort_list_view' %}" class="simple_form listings-search-form search-form nav-bar dark-form form-inline d-flex flex-column flex-sm-row justify-content-center align-items-start">
            <!-- Gender Select Field -->
            <select name="gender" class="form-control mb-2 mb-sm-0 mr-sm-2">
                <option value="">Select Gender</option>
                <option value="Male" {% if request.GET.gender == "Male" %}selected{% endif %}>Male</option>
                <option value="Female" {% if request.GET.gender == "Female" %}selected{% endif %}>Female</option>
            </select>
        
            <!-- City Select Field -->
            <select name="city" class="form-control mb-2 mb-sm-0 mr-sm-2">
                <option value="">Select City</option>
                {% for city_option in city_choices %}
                    <option value="{{ city_option }}" {% if request.GET.city == city_option %}selected{% endif %}>{{ city_option }}</option>
                {% endfor %}
            </select>
        
            <!-- Nationality Select Field -->
            <select name="nationality" class="form-control mb-2 mb-sm-0 mr-sm-2">
                <option value="">Select Nationality</option>
                {% for nationality in nationality_choices %}
                    <option value="{{ nationality.id }}" {% if request.GET.nationality == nationality.id|stringformat:"s" %}selected{% endif %}>{{ nationality.name }}</option>
                {% endfor %}
            </select>
       <!-- Language Select Field -->
           <!-- Language Select Field -->
    <select name="language" class="form-control mb-2 mb-sm-0 mr-sm-2">
      <option value="">Select Language</option>
      {% for language in language_choices %}
          <option value="{{ language.id }}" {% if request.GET.language == language.id|stringformat:"s" %}selected{% endif %}>
              {{ language.language }}
          </option>
      {% endfor %}
  </select>


            <!-- Orientation Select Field -->
            <select name="orientation" class="form-control mb-2 mb-sm-0 mr-sm-2">
                <option value="">Select Orientation</option>
                {% for value, label in orientation_choices %}
                    <option value="{{ value }}" {% if request.GET.orientation == value %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        
        </div>
      </div>
    
    
    </header>
    {%block content %} {%endblock%}
    <footer id="footer">
      <div class="container-fluid">
        <div class="footer-nav-links">
          <ul class="list-inline mb-3 d-flex flex-wrap align-items-start">
            <li><a href="">Forums</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Blog</a></li>
            <li>
              <a href=""
                >Advertise Escort Services</a
              >
            </li>
            <li><a href="">Help for Advertisers</a></li>
            <li>
              <a href="">Guide to seeing an escort</a>
            </li>
            <li class="mb-0" style="vertical-align: middle">
              <a
                class="d-inline-flex align-items-center py-0"
                href=""
                ><svg
                  class="mr-1"
                  id="a"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 35 47"
                >
                  <path
                    d="M2.89,24.48c.62,1.79,1.17,6.49,1.64,8.54.95,4.05,1.63,5.81,2.07,8.15.66,3.47,3.06,5.5,7.23,5.77,4.71.3,8.42-.53,11.79-4.51,3.66-4.34,4.61-6.45,5.35-7.22,1.22-1.27,2.02-2.65,2.04-4.21.02-1.04.23-1.9.96-2.56.82-.74.91-1.64-.1-2.15-1.58-.8-3.07-.1-3.79,1.87-1.18,3.24-1.07,4.77-4.16,4.78-1.93,0-1.89-1.28-2.34-3.96-.56-3.33-.68-7.43.25-12.49.7-3.83.32-7.51.35-11.01.01-1.95-.65-2.89-1.88-2.79-1.3.1-1.53,1.32-1.6,3.67-.07,2.37-.33,3.81-.77,5.83-.44,2.04-.36,4.48-.55,7.34-.08,1.13-.51,1.65-1.3,1.63-.64,0-.98-.66-.98-2.04-.01-5.59-.76-10.47-.77-14.65,0-2.74-.38-3.98-1.65-3.95-1.35.03-1.8,1.22-1.73,3.83.1,3.95.39,6.36.13,10.34-.08,1.19.35,3.17.32,5.69,0,.77-.21.92-.75,1.06-.65.17-1.02-.94-1.24-3.17-.42-4.2-1.56-8.46-2.02-12.86-.18-1.69-.75-2.46-1.84-2.33-1.16.14-1.34,1.21-1.12,3.32.64,6.13.89,11.68,2.08,15.83.25.86.04,1.36-.61,1.58-.99.33-1.43-.13-2.16-1.76-1.33-2.95-1.96-5.67-2.37-7.85-.3-1.59-.51-2.93-1.38-3.31C.04,10.08-.13,11.36.06,12.87c.43,3.49,1.34,7.28,2.83,11.61Z"
                    fill="#373435"
                    fill-rule="evenodd"
                    stroke-width="0"
                  ></path>
                  <path
                    d="M3.28,23.96c.62,1.79,1.17,6.49,1.65,8.54.95,4.05,1.63,5.81,2.07,8.15.66,3.47,3.06,5.5,7.23,5.77,4.71.31,8.42-.53,11.79-4.51,3.66-4.34,4.61-6.45,5.35-7.22,1.22-1.27,2.02-2.65,2.04-4.21.02-1.04.24-1.9.96-2.56.82-.74.91-1.64-.1-2.15-1.58-.8-3.07-.1-3.79,1.87-1.18,3.24-1.07,4.77-4.16,4.78-1.93,0-1.89-1.28-2.34-3.96-.56-3.33-.68-7.43.25-12.49.7-3.83.32-7.51.35-11.01.01-1.95-.65-2.89-1.88-2.79-1.3.1-1.53,1.32-1.6,3.67-.07,2.37-.33,3.81-.77,5.83-.44,2.04-.36,4.48-.55,7.34-.08,1.13-.51,1.65-1.3,1.63-.64,0-.98-.66-.98-2.04-.01-5.59-.76-10.47-.77-14.65,0-2.74-.38-3.98-1.65-3.95-1.35.03-1.8,1.22-1.73,3.83.1,3.95.39,6.36.13,10.34-.08,1.19.35,3.17.32,5.69,0,.77-.21.92-.75,1.06-.65.17-1.02-.94-1.24-3.16-.42-4.2-1.56-8.46-2.02-12.86-.18-1.69-.75-2.46-1.84-2.33-1.16.14-1.34,1.21-1.12,3.32.64,6.13.89,11.68,2.08,15.83.25.86.04,1.36-.61,1.58-.99.33-1.43-.13-2.16-1.76-1.33-2.95-1.96-5.67-2.37-7.85-.3-1.59-.51-2.93-1.38-3.31-1.93-.83-2.1.45-1.92,1.96.43,3.49,1.34,7.28,2.83,11.61Z"
                    fill="red"
                    fill-rule="evenodd"
                    stroke-width="0"
                  ></path></svg
                ><span>Stop Human Trafficking</span></a
              >
            </li>
          </ul>
        </div>
        <p class="footer-smallprint">
          This website only allows adult individuals to advertise their time and
          companionship to other adult individuals. We do not provide a booking
          service nor arrange meetings. Any price indicated relates to time only
          and nothing else. Any service offered or whatever else that may occur
          is the choice of consenting adults and a private matter between them.
          In some countries, individuals do not legally have the choice to
          decide this; it is your responsibility to comply with local laws.
        </p>
        <p class="footer-smallprint">
          © 2024 Massage Republic <a href="/terms">Terms of Use</a> |
          <a href="">Privacy Policy</a> | <a href="">GDPR</a> |
          <a href="https://wa.me/qr/NDEBP5KKN36KE1">Contact Us</a>
        </p>
      </div>
    </footer>
  </body>
  <script
      src="js/application-5173af1670700a840242f4098122085d530b9641062aac0fe5b80587e3e40e3b.js"
      data-turbolinks-track="reload"
      defer="defer"
    ></script>
  <script>
    !(function (a) {
      "use strict";
      var b = function (b, c, d) {
        function e(a) {
          return h.body
            ? a()
            : void setTimeout(function () {
                e(a);
              });
        }

        function f() {
          i.addEventListener && i.removeEventListener("load", f),
            (i.media = d || "all");
        }
        var g,
          h = a.document,
          i = h.createElement("link");
        if (c) g = c;
        else {
          var j = (h.body || h.getElementsByTagName("head")[0]).childNodes;
          g = j[j.length - 1];
        }
        var k = h.styleSheets;
        (i.rel = "stylesheet"),
          (i.href = b),
          (i.media = "only x"),
          e(function () {
            g.parentNode.insertBefore(i, c ? g : g.nextSibling);
          });
        var l = function (a) {
          for (var b = i.href, c = k.length; c--; )
            if (k[c].href === b) return a();
          setTimeout(function () {
            l(a);
          });
        };
        return (
          i.addEventListener && i.addEventListener("load", f),
          (i.onloadcssdefined = l),
          l(f),
          i
        );
      };
      "undefined" != typeof exports ? (exports.loadCSS = b) : (a.loadCSS = b);
    })("undefined" != typeof global ? global : this);
    !(function (a) {
      if (a.loadCSS) {
        var b = (loadCSS.relpreload = {});
        if (
          ((b.support = function () {
            try {
              return a.document
                .createElement("link")
                .relList.supports("preload");
            } catch (b) {
              return !1;
            }
          }),
          (b.poly = function () {
            for (
              var b = a.document.getElementsByTagName("link"), c = 0;
              c < b.length;
              c++
            ) {
              var d = b[c];
              "preload" === d.rel &&
                "style" === d.getAttribute("as") &&
                (a.loadCSS(d.href, d, d.getAttribute("media")),
                (d.rel = null));
            }
          }),
          !b.support())
        ) {
          b.poly();
          var c = a.setInterval(b.poly, 300);
          a.addEventListener &&
            a.addEventListener("load", function () {
              b.poly(), a.clearInterval(c);
            }),
            a.attachEvent &&
              a.attachEvent("onload", function () {
                a.clearInterval(c);
              });
        }
      }
    })(this);

    loadCSS(
      "https://d257pz9kz95xf4.cloudfront.net/assets/application-e5aa5306f57893c0ae54df98533a2c3df315b46f19169f98d7f9be96ae07b91c.css"
    );
    head_ = document.getElementsByTagName("head")[0];
    for (var i = 0; i < head_.children.length; i++) {
      if (head_.children[i].getAttribute("media") === "screen") {
        head_.appendChild(head_.children[i]);
        break;
      }
    }
  </script>
  
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'en',
    includedLanguages: 'en,ar', // Faqat inglizcha va arabcha
    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
  }, 'google_translate_element');
}

function changeLanguage(lang) {
  setTimeout(function() {
    var select = document.querySelector('select.goog-te-combo');
    if (select) {
      select.value = lang;
      select.dispatchEvent(new Event('change'));
    } else {
      console.error('Google Translate select element not found.');
    }
  }, 1000); // Google Translate'ni yuklash uchun vaqt qo'shildi
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  <script
    async=""
    src="https://www.googletagmanager.com/gtag/js?id=G-49CRE37SFG"
  ></script>
  <script data-turbolinks-eval="false">
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-49CRE37SFG");
  </script>
  <script>
    this.app || (this.app = {});
    this.app.data || (this.app.data = {});
    this.app.data.locale = "en";
    this.app.data.genderKey = "female";
    this.app.domain = "massagerepublic.com";
    this.app.accountEmail = null;
    this.app.location = {
      name: "Dubai",
      id: 410,
      url: "dubai",
    };
    window.location.hostname.includes("cloudfront.net") &&
      window.location.replace(
        "https://massagerepublic.com" + window.location.pathname
      );
  </script>
  <!-- jQuery (перед Lightbox JS) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Lightbox JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
  <script data-turbolinks-eval="false">
    document.addEventListener("DOMContentLoaded", function () {
      (window.App = window.App || {}).DOMContentLoadedFired = true;
    });
  </script>
</html>
